.item_list_container {
  .itemlist {
    padding: 16px 0 0 0;
    margin: 0;
    p {
      font-size: 16px;
    }

    .breadCrumb {
      padding-bottom: 16px;
      font-size: 14px;
    }
  }

  .item_container {
    padding-right: 0;
    padding-left: 0;
    --bs-gutter-x: 0;
    padding: 0 16px;
    background-color: white;

    a {
      color: $gray33;
      text-decoration: none;
    }

    .item {
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-template-rows: 180px;
      grid-column-gap: 16px;
      justify-content: start;
      padding: 16px 0;
      border-bottom: 1px solid $greyEE;

      @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-row-gap: 16px;
        justify-items: center;
      }

      .imagen {
        max-width: 180px;
        height: auto;
        border-radius: 4px;
      }
      .item_detail {
        max-width: 90%;
        @media screen and (max-width: 400px) {
          margin-top: 2rem;
        }
        .item_price {
          display: flex;
          justify-content: space-between;
          .price {
            font-size: 24px;
            font-weight: 600;
            padding: 16px 0 32px 0;
            margin-bottom: 0;
          }
          .location {
            font-size: 12px;
            padding-right: 2rem;
            align-self: center;
          }
        }
        .description {
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
